@model StockDto;
@{
    ViewData["Title"] = "Stock";
}

<div class="container-fluid">
    <!---------------------------------------------[Main Content Start]---------------------------------------------->
    <div class="card border-0 shadow components-section">
        <div class="card-body">
            <h2 class="h5 mb-4">Stock Info</h2>
            <form method="POST" asp-controller="stock" asp-action="add" asp-route-search="@ViewBag.Search" asp-route-pageindex="@ViewBag.PageIndex" asp-route-pagesize="@ViewBag.PageSize" asp-area="Admin">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row align-items-center">
                    <div class="col-md-6 mb-3">
                        <div>
                            <label>Medicine</label><span style="color:red">*</span>
                            <span asp-validation-for="MedicineId" class="text-danger"></span>
                            <select asp-for="MedicineId" class="form-select">
                                <option selected value="@Guid.Empty">Open this select menu</option>
                                @foreach (Medicine item in ViewBag.Medicines)
                                {
                                    <option value="@item.MedicineId">@item.MedicineName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label>Supplier</label><span style="color:red">*</span>
                            <span asp-validation-for="SupplierId" class="text-danger"></span>
                            <select asp-for="SupplierId" class="form-select">
                                <option selected value="@Guid.Empty">Open this select menu</option>
                                @foreach (Supplier item in ViewBag.Suppliers)
                                {
                                    <option value="@item.SupplierId">@item.SupplierName</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div>
                        <label for="batchnumber">Batch Number</label><span style="color:red">*</span>
                        <span asp-validation-for="StockBatchNumber" class="text-danger"></span>
                        <input asp-for="StockBatchNumber" class="form-control" id="batchnumber" type="text" placeholder="Batch Number">
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="manufacturingdate">Manufacturing Date</label><span style="color:red">*</span>
                            <span asp-validation-for="StockManufacturingDate" class="text-danger"></span>
                            <input asp-for="StockManufacturingDate" class="form-control" id="manufacturingdate" type="date">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="expirydate">Expiry Date</label><span style="color:red">*</span>
                            <span asp-validation-for="StockExpiryDate" class="text-danger"></span>
                            <input asp-for="StockExpiryDate" class="form-control" id="expirydate" type="date">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="quantity">Quantity</label><span style="color:red">*</span>
                            <span asp-validation-for="StockQuantity" class="text-danger"></span>
                            <input asp-for="StockQuantity" class="form-control" id="quantity" type="number">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="rate">Rate</label><span style="color:red">*</span>
                            <span asp-validation-for="StockRate" class="text-danger"></span>
                            <input asp-for="StockRate" class="form-control" id="rate" type="number">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">
                    Save
                </button>
                <hr />
                <p><b>Note:</b> <span style="color:red; font-size: 17px;">*</span> Fields are mandatory.</p>
            </form>
        </div>
    </div>
    <!----------------------------------------------[Main Content End]----------------------------------------------->
    <br>
    <partial name="Partial/Component/Footer" />
</div>