@model PaginatedList<Medicine>
@{
    ViewData["Title"] = "Medicine";
}
<div class="container-fluid">
    <!---------------------------------------------[Main Content Start]---------------------------------------------->
    <div class="shadow shadow-primary shadow-intensity-lg p-3">
        <form method="GET" asp-area="admin" asp-controller="medicine" asp-action="index">
            <div class="table-settings mb-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                    <div class="d-block mb-4 mb-md-0">
                        <a asp-area="admin" asp-controller="medicine" asp-action="add" asp-route-search="@ViewBag.search" asp-route-pageindex="@Model.PageIndex" asp-route-pagesize="@ViewBag.PageSize" class="btn btn-sm btn-primary d-inline-flex align-items-center">
                            <i class="fa-solid fa-circle-plus"></i>&nbsp;Add
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row align-items-center justify-content-between">
                    <div class="col col-md-6 col-lg-3 col-xl-4">
                        <div class="input-group me-2 me-lg-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <input type="search" name="search" value="@ViewBag.search" class="form-control" placeholder="Search Units">
                            <input class="d-none" type="submit" />
                        </div>
                    </div>
                    @{
                        RowSizeViewModel rowSizeViewModel = new RowSizeViewModel("medicine", "index", ViewBag.PageSize);
                        <partial name="Partial/Table/RowSize" model="rowSizeViewModel" />
                    }
                </div>
            </div>
            @if (Model.Any())
            {
                <div class="card card-body table-wrapper table-responsive">
                    <table class="table table-sm table-hover">
                        <thead class="table-dark border-3 border-dark">
                            <tr>
                                <th class="col">S.N.</th>
                                <th class="col">Name</th>
                                <th class="col">Generic Name</th>
                                <th class ="col">Category</th>
                                <th class ="col">Image</th>
                                <th class="col">Description</th>
                                <th class="col">Manufacturer</th>
                                <th class="col">Action</th>
                            </tr>
                        </thead>
                        <tbody class="table-white border-dark">
                            @{
                                var count = 0;
                                var sn = ViewBag.PageSize * Model.PageIndex - ViewBag.PageSize;
                                @foreach (var item in Model)
                                {
                                    sn++;
                                    count++;
                                    <tr class="align-middle">
                                        <td>@sn</td>
                                        <td>@item.MedicineName</td>
                                        <td>@item.MedicineGenericName</td>
                                        <td>@item.MedicineCategory.MedicineCategoryName</td>
                                        <td><img height="100" width="100" src="~/uploads/medicine/@item.MedicineImageLink" /></td>
                                        <td>@item.MedicineDescription</td>
                                        <td>@item.Manufacturer.ManufacturerName</td>
                                        <td>
                                            <div class="btn-group">
                                                <button class="btn text-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="icon icon-sm">
                                                        <i class="fa-solid fa-gear"></i>
                                                    </span>
                                                    <span class="visually-hidden">Toggle Dropdown</span>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" asp-controller="medicine" asp-action="edit" asp-route-id="@item.MedicineId" asp-route-search="@ViewBag.search" asp-route-pageindex="@Model.PageIndex" asp-route-pagesize="@ViewBag.PageSize">Edit</a>
                                                    <a class="dropdown-item text-danger" asp-controller="medicine" asp-action="delete" asp-route-id="@item.MedicineId" asp-route-sn="@sn" asp-route-search="@ViewBag.search" asp-route-pageindex="@Model.PageIndex" asp-route-pagesize="@ViewBag.PageSize">Remove</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    @{
                        PaginationViewModel paginationViewModel = new PaginationViewModel("medicine", "index", Model.HasPreviousPage, Model.HasNextPage, Model.PageIndex, ViewBag.Pagesize, Model.TotalPages, ViewBag.Search, Model.TotalItem, count);
                        <partial name="Partial/Table/TablePagination" model="paginationViewModel" />
                    }
                </div>
            }
            else
            {
                <p style="text-align:center">No Medicine Found.</p>
            }
        </form>
    </div>
    <!----------------------------------------------[Main Content End]----------------------------------------------->
    <br>
    <partial name="Partial/Component/Footer" />
</div>

